# Lists in Python
1.Lists store Hetrogenous type of Data. 

2.Lists actually stores only The References of elements . It stores all the refernces continuously. Lists follows the concept of resizeing to store refernces continuously.

Create a List

In [165]:
li=[]

In [166]:
li=[1,2,3]

In [167]:
li

[1, 2, 3]

In [168]:
l1=[1,2.4,"Yash",5.66,True]

In [169]:
l1

[1, 2.4, 'Yash', 5.66, True]

Access and Change Elements of List

In [170]:
l1[0]

1

In [171]:
l1[1]

2.4

In [172]:
l1[5]

IndexError: list index out of range

In [173]:
l1[0]=89

In [174]:
l1[4]=False

In [175]:
l1[2]="Hanuman"

In [176]:
l1

[89, 2.4, 'Hanuman', 5.66, False]

Slicing of a list

In [177]:
l1[1:]

[2.4, 'Hanuman', 5.66, False]

In [178]:
l1[:]

[89, 2.4, 'Hanuman', 5.66, False]

In [179]:
l1[:3]

[89, 2.4, 'Hanuman']

In [180]:
l1[1:100]

[2.4, 'Hanuman', 5.66, False]

Insert and Append Elements in a list

In [181]:
l1=[1,3.4,"Yash",5]

In [182]:
l1.append("Ram")      #append() will insert the element at the end of list

In [183]:
l1

[1, 3.4, 'Yash', 5, 'Ram']

In [184]:
l1.insert(2,55)    #insert(index,element) will insert the element at given index of list

In [185]:
l1

[1, 3.4, 55, 'Yash', 5, 'Ram']

In [186]:
l1.insert(10,67)     #if index is not present in list then insert() will insert the element 
                     #at the end of list.

In [187]:
l1

[1, 3.4, 55, 'Yash', 5, 'Ram', 67]

In [188]:
l1.append((9,10,11))

In [189]:
l1

[1, 3.4, 55, 'Yash', 5, 'Ram', 67, (9, 10, 11)]

In [190]:
l1.extend((9,10,11)) #extend() will insert multiple elements in the list at same time.

In [191]:
l1

[1, 3.4, 55, 'Yash', 5, 'Ram', 67, (9, 10, 11), 9, 10, 11]

Removing Elements From List

In [192]:
l1.remove(55)    #remove(element) will delete the element from the list which passed in its parameter.

In [193]:
l1

[1, 3.4, 'Yash', 5, 'Ram', 67, (9, 10, 11), 9, 10, 11]

In [194]:
l1.append(1)

In [195]:
l1

[1, 3.4, 'Yash', 5, 'Ram', 67, (9, 10, 11), 9, 10, 11, 1]

In [196]:
l1.remove(1)     #Here it removes 1st 1 from the list

In [197]:
l1

[3.4, 'Yash', 5, 'Ram', 67, (9, 10, 11), 9, 10, 11, 1]

In [198]:
l1.pop()   #pop() will delete last element of list.
           #pop(index) will delete the element that passed in its parameter.

1

In [199]:
l1

[3.4, 'Yash', 5, 'Ram', 67, (9, 10, 11), 9, 10, 11]

In [200]:
l1.pop(5)

(9, 10, 11)

In [201]:
l1

[3.4, 'Yash', 5, 'Ram', 67, 9, 10, 11]

In [202]:
l1.pop(10)  #error

IndexError: pop index out of range

Length of list

In [203]:
len(l1)

8

In [204]:
l1.pop()

11

In [205]:
len(l1)

7

### Looping a List

In [206]:
l2=[1,2,3,"Yash",4,5,"Ram",6,7]

In [207]:
l2

[1, 2, 3, 'Yash', 4, 5, 'Ram', 6, 7]

In [208]:
for i in range(len(l2)):             #Using for loop including range function
    print(l2[i])

1
2
3
Yash
4
5
Ram
6
7

In [209]:
for i in range(3,len(l2)):             
    print(l2[i])

Yash
4
5
Ram
6
7

In [49]:
for i in l2:
    print(i)

1
2
3
Yash
4
5
Ram
6
7

In [210]:
for i in l2[2:5]:
    print(i)

3
Yash
4

In [211]:
for i in l2[4:]:
    print(i)

4
5
Ram
6
7

### Negative Indexing and Sequencing in Lists

Negative indexing

In [212]:
l1=[1,2,3,4,5]

In [213]:
l1[-1]      #Gives Last element of list

5

In [214]:
l1[-2]

4

In [215]:
l1[-3]

3

In [216]:
l1[-7]  #Error

IndexError: list index out of range

Sequencing in lists

In [217]:
l1=[1,2,3,4,5,6,7,8]

In [218]:
l1[2:6:2]        #list[start_index:end_index:step]

[3, 5]

In [219]:
l1[::]

[1, 2, 3, 4, 5, 6, 7, 8]

In [220]:
l1[:4:]

[1, 2, 3, 4]

In [221]:
l1[2::2]

[3, 5, 7]

In [222]:
l1[-1:-5:-1]

[8, 7, 6, 5]

In [223]:
l1[-2::]

[7, 8]

### Taking Input in List

1.Line Separated

In [224]:
n=input()   #initially the input is string

In [225]:
n   # n is string here.

''

In [227]:
n=int(input())

5

In [228]:
n    # n is integer here.

5

In [229]:
l1=[]
for i in range(n):
    curr=int(input())
    l1.append(curr)

1
2
3
4
5

In [230]:
l1

[1, 2, 3, 4, 5]

2.Space Separated input in list

In [99]:
s =input()

1 2 3 4 5

In [100]:
s

'1 2 3 4 5'

In [112]:
s_split= s.split(' ') # split(delimiter) is used to convert string into list at the point of delimiter
                      # Here space is delimiter

In [113]:
s_split

['1', '2', '3', '4', '5']

In [114]:
l1=[]
for ele in s_split:
    l1.append(int(ele))

In [115]:
l1

[1, 2, 3, 4, 5]

In [117]:
l1= [int(x) for x in input().split()]  #It takes space separated input of strin and then convert it 
                                       #into integer.

1 2 3 4 5

In [118]:
l1

[1, 2, 3, 4, 5]

In [119]:
## Always take Space Separated input as described below

In [111]:
n=int(input())
li=[int(x) for x in input().split()]
for ele in li:
    print(ele)

5
1 2 3 4 5
1
2
3
4
5

### Linear Search in python

In [121]:
n=int(input())

8

In [123]:
li=[int(x) for x in input().split()]

1 2 3 4 5 6 7 8

In [125]:
ele =int(input())     #Element to be searched in list li

5

In [127]:
is_found=False
for i in range(len(li)):
    if li[i]==ele :
        print(i)
        is_found=True
        break
if is_found is False:
    print(-1)

4

Linear Search through Functions (Pass list as parameter of function)

In [231]:
def linear_search(l1,ele):
    for i in range(len(li)):
        if li[i]==ele :
            return i
    return -1

l1=[1,2,3,4,5,6,7,8]
index=linear_search(l1,7)
print(index)

-1

In [232]:
index=linear_search(l1,10)
print(index)

-1

Immutable and Mutable in Python

1.Variables : Variables are immutable in python. As they can change their refernces.

2.Lists :Lists are Mutable in Python . As change in one list reflects the changes in another list . Explained below with example:

Immutable

In [233]:
x=3

In [234]:
a=3

In [235]:
id(x)     #id() gives the refernce of parameter pass in it.

1745019536

In [236]:
id(a)

1745019536

In [237]:
x=4

In [238]:
id(x)   #Here x reference is changes.

1745019552

In [239]:
id(a)

1745019536

Mutable

In [240]:
l1=[1,2,3,4,5]

In [241]:
l1

[1, 2, 3, 4, 5]

In [242]:
l2=l1

In [243]:
l2[2]=10

In [244]:
l1  #As we change the value in list l2 so that reflects the value also change in list l1.

[1, 2, 10, 4, 5]

### Passing Variables Through Functions

In [245]:
def increment(a):
    a=a+2
    return
a=2
increment(a)
print(a)

2

In [246]:
def increment(a):
    a=a+2
    return a
a=2                       
a=increment(a)      #As variables are immutable so now variable a changes its refernce to 4.
print(a)

4

### Passing List Through Functions

In [247]:
def increment(li):
    li[0]=li[0]+2
    return

li=[1,2,3,4,5]
increment(li)
print(li)

[3, 2, 3, 4, 5]

In [249]:
def increment(li):
    #li[0]=li[0]+2
    li=[3,3,4]
    return li

li=[1,2,3,4,5]
li=increment(li)
print(li)

[3, 3, 4]

#### Reversing a List

In [155]:
def reverse_list(l1):
    length=len(l1)
    for i in range(length//2):
        l1[i],l1[length-i-1]=l1[length-i-1],l1[i]

l1=[1,2,3,4,5,6]
reverse_list(l1)
print(l1)

[6, 5, 4, 3, 2, 1]

In [156]:
def reverse_list_2(l1):
    length=len(l1)
    for i in range(length//2):
        l1[i],l1[-i-1]=l1[-i-1],l1[i]

l1=[1,2,3,4,5,6]
reverse_list_2(l1)
print(l1)

[6, 5, 4, 3, 2, 1]

In [157]:
l1[3:1:-1]

[3, 4]

In [158]:
l1[:1:-1]

[1, 2, 3, 4]

In [159]:
l1[3::-1]

[3, 4, 5, 6]

In [160]:
l1[::-1]

[1, 2, 3, 4, 5, 6]

In [161]:
l1=[1,2,3,4,5,6]

In [162]:
l1[::-1]          #Reverse list in one line

[6, 5, 4, 3, 2, 1]

In [163]:
l1=l1[::-1]

In [164]:
l1

[6, 5, 4, 3, 2, 1]