### Strings in Python

Strings are sequence of characters. In other words, String is sequence of unicode characters.

In [1]:
s='Yash'

In [2]:
s

'Yash'

In [3]:
s="Yash"

In [4]:
s

'Yash'

In [5]:
s='''Yash'''

In [6]:
s

'Yash'

In [7]:
s="My
name is 
yash"

SyntaxError: EOL while scanning string literal (<ipython-input-7-bc6780d30a98>, line 1)

In [8]:
s='''My                 #Triple Quotes are used for multiline strings. 
name is 
yash'''

In [10]:
print(s)

My
name is
yash

### Indexing in Strings

In [11]:
s="Yash"

In [12]:
s[0]

'Y'

In [13]:
s[2]

's'

In [14]:
s='''My
name is
yash'''

In [15]:
s

'My\nname is\nyash'

In [16]:
s[0]

'M'

In [17]:
s[2]

'\n'

In [18]:
a='Yash'

In [19]:
s='Yash'

In [20]:
id(a)

68548192

In [22]:
id(s)     a and s have same references or they pointing to same address.

68548192

Strings are immutables in python it means we can change the reference of string but we cannot change the string.

In [3]:
s='Yash'

In [4]:
id(s)

68042400

In [2]:
s[1]='A'    #We cannot change the string value as string is immutable.

TypeError: 'str' object does not support item assignment

In [5]:
s='Rash'

In [6]:
id(s)  #Here string s reference is changed.

68041760

### Concatenation of Strings

In [11]:
s='red'

In [12]:
s

'red'

In [8]:
id(s)

45983072

In [13]:
s=s+'blue'

In [14]:
s

'redblue'

In [15]:
id(s)   #After Concatenation s is creating new string 'redblue' as string is immutable.

68041216

In [26]:
a='red'

In [27]:
a

'red'

In [28]:
id(a)

45983072

In [29]:
a=a*4

In [30]:
a

'redredredred'

In [31]:
id(a)

67973272

In [32]:
a=a+3  #string does not know how to add string and number.

TypeError: must be str, not int

In [33]:
a=a+str(3)

In [34]:
a

'redredredred3'

### Slicing in String

In [35]:
s='Parikh'

In [36]:
s[1:]

'arikh'

In [37]:
s[1:5:2]

'ai'

In [38]:
s[5:1:-1]

'hkir'

In [39]:
s[-1]

'h'

In [40]:
s[-1:-3]

''

In [41]:
s[-5:-3]

'ar'

In [42]:
s[:4]

'Pari'

### Iterating a string

In [43]:
str='Hello World'

In [45]:
count=0
for letter in str:
    if(letter=='l'):
        count+=1
print(count)

3

In [46]:
count=0                      #iterating through index
for i in range(len(str)):
    if(str[i]=='l'):
        count+=1
print(count)

3

### In and Not in operation in string

In [47]:
str='Hello'

In [48]:
if 'ell' in str:
    print("Yes it is a substring.")
else:
    print("It is not a substring")

Yes it is a substring.

In [49]:
if 'ell' not in str:
    print("It is not a substring.")
else:
    print("It is a substring")

It is a substring

### Comparision Operators on Strings

In [51]:
a='hello'=='hello'
a

True

In [52]:
'hello'>'lello'  #Comparision is based on ASCII Values.

False

In [53]:
'hell'>'hello' #Comparision is here on length of string.

False

### Functions On Strings

In [54]:
# Split() in string :convert string into list.

In [59]:
str='My name is Yash'

In [61]:
li=str.split()
li

['My', 'name', 'is', 'Yash']

In [62]:
str1='My , name , is , Yash'

In [66]:
l1=str.split(',')
l1

['My name is Yash']

In [67]:
#Replace() in string : replace(old substring,new string,frequency of old string)

In [68]:
str='My name is Yash Yash Yash'

In [69]:
str1=str.replace('Yash','Lalu')
str1

'My name is Lalu Lalu Lalu'

In [71]:
str2=str.replace('Yash','Lalu',1)  #It replace only 1 yash as Lalu.
str2

'My name is Lalu Yash Yash'

In [72]:
#find() :find() return index of substring if it is present in string otherwise it returns -1.

In [73]:
str='My name is Yash.'

In [74]:
index=str.find('na')
index

3

In [77]:
index1=str.find('am',2,7)  #find(substring,start index,end index)
index1

4

In [78]:
#Lower and Upper funtions

In [79]:
str='Hello World'

In [80]:
str=str.lower()
str

'hello world'

In [81]:
str=str.upper()
str

'HELLO WORLD'

In [82]:
#startswith() and endswith()

In [90]:
str='My name is Parikh.'
ans=str.startswith('My na')
ans

True

In [91]:
ans1=str.startswith('Pa',11,15)  #startswith(substring,start index,end index)
ans1

True

In [95]:
ans2=str.endswith('Parikh')
ans2

False

Replace a character of a string with a given character.

In [98]:
def replace_char(str,char1,char2):
    str1=""
    for char in str:
        if(char==char1):
            str1+=char2
        else:
            str1+=char
    return str1
            

str=input()
char1=input()
char2=input()
new_string=replace_char(str,char1,char2)
new_string

afafafhajfhafkafa
a
b

'bfbfbfhbjfhbfkbfb'

Count Number of vowels,consonants,digits and special character in strings.

In [101]:
def count_char(str):
    v,c,d,s=0,0,0,0
    for char in str:
        if(char>='a' or char<='z' and (char>='A' and char<='Z')):
            char=char.lower()
            if(char=='a' or char=='e'or char=='i' or char=='o' or char=='u'):
                v+=1
            else:
                c+=1
        
        elif(char>='0' and char<='9'):
            d+=1
        else:
            s+=1
    return v,c,d,s

str=input()
v,c,d,s=count_char(str)
print(v,c,d,s)

sgdgsdhsdh5757
0 10 4 0

In [2]:
chr(67)

'C'

In [3]:
ord('a')

97

In [4]:
a=1
b=2
c=3

In [5]:
print(str(a)+"-"+str(b)+"-"+str(c))

1-2-3

In [6]:
print("%d-%d-%d"%(a,b,c))

1-2-3

In [8]:
a='Yash'

In [9]:
print("%d-%d-%d"%(a,b,c))

TypeError: %d format: a number is required, not str

In [10]:
print("{}-{}-{}".format(a,b,c))

Yash-2-3

In [11]:
print("{1}-{0}-{2}".format(a,b,c))

2-Yash-3

In [15]:
print("{Lastname} {Firstname}".format(Lastname="Singhla",Firstname="Ankush"))

Singhla Ankush

In [16]:
lastname='Singhla'
firstname='Ankush'
print(f"{lastname} {firstname}")

Singhla Ankush

In [17]:
#strip()=remove whitspaces from string

In [18]:
a='       yash        '
print(a)

       yash

In [19]:
a.strip()

'yash'

In [20]:
a='yes '
a=='yes'

False

In [21]:
a.strip()=='yes'

True

In [22]:
a='aaabbsndjadjajaalda'

In [24]:
a.count('a')  #count()=it count no of occurence of char passed in parameter.

8

In [25]:
a.count('aa')

2