### Two-Dimensional Lists

In [1]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]

In [2]:
li

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [3]:
li[2][2]

11

In [5]:
li[2][5]

IndexError: list index out of range

How 2-D Lists Stored: 2-Lists are list of list. It means one list have another list reference.

In [6]:
li=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]

In [7]:
id(li)

67949432

In [8]:
id(li[0])

68217752

In [9]:
li[0]

[1, 2, 3, 4]

In [10]:
li[0][1]

2

In [11]:
li[0][1]=15

In [12]:
li

[[1, 15, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]]

In [13]:
li[1]='Yash'

In [14]:
li

[[1, 15, 3, 4], 'Yash', [9, 10, 11, 12], [13, 14, 15, 16]]

### Jagged List 
list haven different size of columns.

In [15]:
li=[[1,2,3,4],[5],[9,10],[13,14,15]]

In [16]:
li[0]

[1, 2, 3, 4]

In [17]:
li[1]

[5]

In [18]:
li[2]

[9, 10]

In [19]:
li[3]

[13, 14, 15]

In [20]:
li[0][3]

4

In [21]:
li[1][3] //list have different column size.

IndexError: list index out of range

In [23]:
li[2][1]

10

### List Comprehensions
Syntax :
li_C=[output for_loop_expression conditional_statement]

In [24]:
li=[1,2,3,4]
li_new=[]
for ele in li:
    li_new.append(ele**2)
print(li_new)

[1, 4, 9, 16]

In [25]:
li=[1,2,3,4]
li_c=[ele**2 for ele in li]

In [26]:
li_c

[1, 4, 9, 16]

In [27]:
li_even_square=[ele**2 for ele in li if ele%2==0] //Using List Comprehension

In [28]:
li_even_square

[4, 16]

In [30]:
li_even_square_2=[]
for ele in li:
    if(ele%2==0):
        li_even_square_2.append(ele**2)
li_even_square_2

[4, 16]

Element should be divided by 2 and 3 both.

In [31]:
li=[1,2,3,4,5,6,7,8,9]
li_new=[]
for ele in li:
    if ele%2==0:
        if ele%3==0:
            li_new.append(ele)

In [32]:
li_new

[6]

In [33]:
li_new_2=[ele for ele in li if ele%2==0 if ele%3==0]  //Using two if conditions

In [34]:
li_new_2

[6]

In [35]:
l1=[1,2,3,4,5,6]
l2=[4,5,6,7,8,9]
l=[]
for ele in l1:
    for ele1 in l2:
        if(ele==ele1):
            l.append(ele)

In [36]:
l

[4, 5, 6]

In [37]:
l_com=[ele for ele in l1 for ele1 in l2 if ele==ele1] //Using Two list

In [38]:
l_com

[4, 5, 6]

In [39]:
li=[1,2,3,4,5,6]
li_com=[ele**2 if ele%2==0 else ele for ele in li]  //Using if else

In [40]:
li_com

[1, 4, 3, 16, 5, 36]

Build 2-D array Using List Comprehension

In [41]:
s="Yash"
li=[ele for ele in s]

In [42]:
li

['Y', 'a', 's', 'h']

In [43]:
s=['Yash','Vishal','Samarth']

In [45]:
li=[[s for s in ele] for ele in s]

In [46]:
li

[['Y', 'a', 's', 'h'],
 ['V', 'i', 's', 'h', 'a', 'l'],
 ['S', 'a', 'm', 'a', 'r', 't', 'h']]

### Taking 2-D List as Input

In [47]:
str = input().split()
n,m = int(str[0]), int(str[1])
li = [[int(j) for j in input().split()[:m]] for i in range(n)]

3 4
1 2 3 4
5 6 7 8
1 1 1 1

In [48]:
li

[[1, 2, 3, 4], [5, 6, 7, 8], [1, 1, 1, 1]]

In [49]:
n = int(input())
li1 = [[int(j)  for j in input().split()] for i in range(n)]

3
1 2 3
1 2
1

In [50]:
li1

[[1, 2, 3], [1, 2], [1]]

### Convert a list into a 2D array by a simple formula:- (i,j) = m * i + j

In [51]:
str = input().split()
n,m = int(str[0]), int(str[1])
b = input().split()
arr = [ [int(b[m*i+j]) for j in range(m)] for i in range(n)]

3 4
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16

In [52]:
arr

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

#### Input in a single line

In [53]:
str = input().split()
n,m = int(str[0]), int(str[1])
b = str[2:]
arr1 = [ [int(b[m*i+j]) for j in range(m)] for i in range(n)]

2 3 1 2 3 4 5 6

In [54]:
arr1

[[1, 2, 3], [4, 5, 6]]

In [55]:
n

2

In [56]:
m

3

In [57]:
str[1]

'3'

#### Iterating 2-D List

In [58]:
l=[[1,2,3,4],[5,6,7,8]]
n=2
m=4

In [61]:
for i in range(n):
    for j in range(m):
        print(l[i][j],end=" ")
    print()

1 2 3 4
5 6 7 8

In [63]:
li=[[1,2,3,4],[1,2,3],[4,5],[6]]  //Jagged array iteration
for row in li:
    for ele in row:
        print(ele,end=" ")
    print()

1 2 3 4
1 2 3
4 5
6

In [64]:
'ab'.join('abc')

'aabbabc'

In [65]:
'ab'.join(['1','2','3'])

'1ab2ab3'

In [73]:
l1=[[1,2,3],[4,5,6,7],[8,9]]

In [76]:
for row in l1:
    output ='a'.join([str(ele) for ele in row])
    print(output)

TypeError: 'list' object is not callable

#### Find max_sum of column of 2-D List

In [78]:
def max_summ(li):
    n=len(li)
    m=len(li[0])
    max_sum=-1
    lar_col=-1
    for i in range(m):
        sum1=0
        for j in range(n):
            sum1+=li[j][i]
        if(sum1>max_sum):
            max_sum=sum1;
            max_col=i;
    return max_sum,max_col
            

li=[[1,2,3,4],[7,6,5,4],[8,9,6,7]]
max_s,lar_col_index=max_summ(li)
print(max_s,lar_col_index)

17 1

In [79]:
def max_summ(li):
    m=len(li[0])
    max_sum=-1
    lar_col=-1
    for i in range(m):
        sum1=0
        for ele in li:
            sum1+=ele[i]
        if(sum1>max_sum):
            max_sum=sum1;
            max_col=i;
    return max_sum,max_col
            

li=[[1,2,3,4],[7,6,5,4],[8,9,6,7]]
max_s,lar_col_index=max_summ(li)
print(max_s,lar_col_index)

17 1