### Tuples

In [1]:
a=(1,2)
print(a)

(1, 2)

In [2]:
b,c=3,4
print(b)
print(c)
e=5,6         #By default it make tuple.
print(e)
print(type(e))

3
4
(5, 6)
<class 'tuple'>

Accessing Element of Tuple :We can access element of tuple as same way as we access element of string and list using indexing or slicing.

In [4]:
e[0]

5

In [5]:
e[1]

6

In [6]:
e[-1]

6

In [7]:
e[-2]

5

In [8]:
e[2]

IndexError: tuple index out of range

In [9]:
f=(1,2,3,4,5,6)
f[0:4]

(1, 2, 3, 4)

Difference Between list and Tuple :
List are mutable it means we can update,add or remove element from the list whereas tuple is immutable  in which we can not update ,add or remove element from the list.

In [10]:
f[2]=8  #Error due to tuple are immutable we cannot update value of element of tuple.

TypeError: 'tuple' object does not support item assignment

In [11]:
del f #deleting tuple f

In [12]:
f  # we cannot access tuple as we delete it

NameError: name 'f' is not defined

### Functions on Tuple

In [13]:
a=(1,2,3)
b=4,5

In [14]:
for i in a:       #Printing element of tuple
    print(i)

1
2
3

In [15]:
1 in a #Using membership operator with tuple element

True

In [16]:
1 in b

False

In [17]:
len(a) #length of tuple

3

In [19]:
#Concatenation of Tuple
c=a+b
c

(1, 2, 3, 4, 5)

In [21]:
d=(a,b)    #Tuple of Tuple
d

((1, 2, 3), (4, 5))

In [22]:
e=a*4 #repeating tuple a element 4 times
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [24]:
min(a)

1

In [25]:
max(a)

3

In [26]:
g=(1,2,3,"a")
min(g)    #we cannot compare str and int in tuple

TypeError: '<' not supported between instances of 'str' and 'int'

In [27]:
#List to Tuple
a=[1,2,3,4]
tuple(a)

(1, 2, 3, 4)

### Variable Length Input and Output 
Variable Length of input in passed in function parameter

In [28]:
def sum1(a,b):
    return a+b
a=5
b=7
sum1(a,b)

12

In [1]:
def sum2(a,b,*more):       #here *more takes the variable length of input.
    print(a)
    print(b)
    print(more)
    print(type(more))
    ans=a+b
    for i in more:
        ans=ans+i
    return ans
sum2(1,2,3,4,5,6,6,7)

1
2
(3, 4, 5, 6, 6, 7)
<class 'tuple'>

34

In [30]:
def sum_diff(a,b):     
    return a+b,a-b,a*b    #Getting variable length of output from function

In [31]:
c=sum_diff(5,3)   
c

(8, 2, 15)

In [32]:
d,e,f=sum_diff(5,3)
print(d)
print(e)
print(f)

8
2
15

## DICTIONARIES

### Dictionaries: You can use the string as a key in dictionaries unlike indexes as keys in lists
### Dictionaries are mutable and you can change keys and values¶

#### Use whatever key you want to use and store whatever value you want to store¶

In [33]:
a = {}
type(a)

dict

In [34]:
# In dictionaries you may have some keys and some values
# You need to give keys and values unlike in lists the first value key is 0, second value key is 1 and so on and so forth
# you can store any type of key and any type of value in dictionaries

a = {"the":1, "a":5, 1000:"abc"}
a

{'the': 1, 'a': 5, 1000: 'abc'}

In [35]:
# If you need 10000 as a index in lists then you must have atleast 10001 indeces
len(a)

3

In [36]:
a["the"]

1

In [37]:
a["a"]

5

In [38]:
# Create a dictionary by copying

b = a.copy()

In [39]:
b

{'the': 1, 'a': 5, 1000: 'abc'}

In [40]:
c = dict([("the", 3), ("a", 10), (2,3)])

In [41]:
c

{'the': 3, 'a': 10, 2: 3}

In [42]:
d = dict.fromkeys(["abc", 32, 4]) # Only passed keys

In [43]:
d

{'abc': None, 32: None, 4: None}

In [44]:
d = dict.fromkeys(["abc", 32, 4], 10) # Only passed keys and default value for all keys

In [45]:
d

{'abc': 10, 32: 10, 4: 10}

#### Accessing Data in Dictionaries

In [2]:
d={1:2,"abc":34,"list":[1,2,4],"dict":{1,2,3}}
d

{1: 2, 'abc': 34, 'list': [1, 2, 4], 'dict': {1, 2, 3}}

We can access the values of dictionaries using Keys.

In [3]:
d["abc"]

34

In [4]:
d["list"]

[1, 2, 4]

In [5]:
d["dict"]

{1, 2, 3}

Using get() we can access the values of dictionaries. It will return th value associated with key ,if key is present otherwise second argument is returned.

In [6]:
d.get(1)

2

In [7]:
d.get("list")

[1, 2, 4]

In [9]:
print(d.get("li")) #Here Key is not in dicitonary so it return None.

None

In [10]:
d.get("li",10) #Here key is not in dict so it return second argument that is passed.

10

keys() :Return list of keys of dictionary.

values() : return list of values of dictionary.

items() : return key-value pair of dictionary.

In [11]:
d.keys()

dict_keys([1, 'abc', 'list', 'dict'])

In [12]:
d.values()

dict_values([2, 34, [1, 2, 4], {1, 2, 3}])

In [13]:
d.items()

dict_items([(1, 2), ('abc', 34), ('list', [1, 2, 4]), ('dict', {1, 2, 3})])

In [17]:
for i in d:   #It print key of dictionary if we have to access the values the we use d[i].
    print(i," : ",d[i])

1  :  2
abc  :  34
list  :  [1, 2, 4]
dict  :  {1, 2, 3}

In [18]:
for i in d.values():   #It returns values of dictionary.
    print(i)

2
34
[1, 2, 4]
{1, 2, 3}

Checking The given key is present in dictionary

In [21]:
"list" in d

True

In [22]:
"2" in d

False

#### Adding and removing data from dictionaries

Adding Data to Dictionary

In [23]:
d["tuple"]=(1,2,3)

In [24]:
d

{1: 2, 'abc': 34, 'list': [1, 2, 4], 'dict': {1, 2, 3}, 'tuple': (1, 2, 3)}

Updating Data in dictionary

In [25]:
d[1]="1234"

In [26]:
d

{1: '1234',
 'abc': 34,
 'list': [1, 2, 4],
 'dict': {1, 2, 3},
 'tuple': (1, 2, 3)}

In [27]:
b={1:10,"abc":"def","3":"fg",3:56}

In [28]:
d.update(b)  #Update() add the key-value pair of dictionary b in dictionary d ,if dict d has already 
            # key is present then it update the value in dictionary d as according to b.

In [29]:
d  #Here the value of 1 and abc is updated.

{1: 10,
 'abc': 'def',
 'list': [1, 2, 4],
 'dict': {1, 2, 3},
 'tuple': (1, 2, 3),
 '3': 'fg',
 3: 56}

In [30]:
d.pop(1) #pop(key) will delete the key which is passed

10

In [31]:
d

{'abc': 'def',
 'list': [1, 2, 4],
 'dict': {1, 2, 3},
 'tuple': (1, 2, 3),
 '3': 'fg',
 3: 56}

In [35]:
del d["abc"]

In [36]:
d

{'list': [1, 2, 4], 'dict': {1, 2, 3}, 'tuple': (1, 2, 3), '3': 'fg', 3: 56}

In [37]:
d.clear()  #All the element of dictionary is deleted.

In [38]:
d

{}

In [39]:
del d  #Here the dictionary is deleted.

In [40]:
d

NameError: name 'd' is not defined

#### Print all words with frequency k

In [2]:
s="this is word string it has many many word"
k=2

In [3]:
words=s.split()
words

['this', 'is', 'word', 'string', 'it', 'has', 'many', 'many', 'word']

In [4]:
d={}
for i in words:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1
d

{'this': 1, 'is': 1, 'word': 2, 'string': 1, 'it': 1, 'has': 1, 'many': 2}

In [5]:
d={}
for i in words:
    d[i]=d.get(i,0)+1
d

{'this': 1, 'is': 1, 'word': 2, 'string': 1, 'it': 1, 'has': 1, 'many': 2}

In [6]:
for i in d:
    if(d[i]==k):
        print(i)

word
many

In [7]:
def print_k(s,k):
    d={}
    for i in words:
        d[i]=d.get(i,0)+1
    for i in d:
        if(d[i]==k):
            print(i)

In [8]:
print_k(s,k)

word
many

### Sets 
Sets are unordered collection of data . Sets store unique element.

In [9]:
s={"apple","abc",12}

In [10]:
s

{12, 'abc', 'apple'}

In [11]:
s[0] #We cannot access the element of set in these way.

TypeError: 'set' object does not support indexing

In [12]:
s["abc"] #We cannot access set element as key(like in dictionary)

TypeError: 'set' object is not subscriptable

Checking if element is present in set or not

In [13]:
"abc" in s

True

In [14]:
23 in s

False

In [15]:
for i in s:    #Traversing a set
    print(i)

apple
12
abc

In [16]:
len(s)

3

In [17]:
s.add("temp")  #add() is used to add element in set.

In [18]:
s

{12, 'abc', 'apple', 'temp'}

In [19]:
b={"abc",23,"per"}

In [20]:
s.update(b) #update() is update the set

In [21]:
s

{12, 23, 'abc', 'apple', 'per', 'temp'}

In [22]:
s.remove("abc")  #remove is used to delete element from the set.

In [23]:
s

{12, 23, 'apple', 'per', 'temp'}

In [24]:
s.remove("rrr")  #Key is not present in set and we are trying to remove it so we get error

KeyError: 'rrr'

In [25]:
s.discard(12) #discard() is used to delete element from set if present ,in case element is not present then it do not do anything